<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ssm.dao.UserDao">
	<insert id="insertUser" useGeneratedKeys="true" parameterType="User">
		<selectKey order="AFTER" resultType="int" keyProperty="uid">
			SELECT LAST_INSERT_ID();
		</selectKey>
		INSERT INTO USER(UNAME)
		VALUES(#{uname});
	</insert>

</mapper> 
   